* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body, html {
    height: 100%;
    width: 100%;
}

.divRegister {
    background-color: #f5c858;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}

.mainRegister {
    width: 80%;
    max-width: 900px;
    min-height: 400px;
    box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    background-color: white;
}

.contentWrapper {
    display: flex;
    height: 100%;
    gap: 30px;
}

.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.registerTitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: #00bcd9;
}

.formRegister {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divFormRegister {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.divFormRegister label{
    padding-left: 5px;
    color: #00bcd9;
}

.formRegister input {
    width: 100%;
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}

.formRegister button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #00bcd9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formRegister button:hover {
    background-color: #0192a8;
}

.imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.separator{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #00bcd9;
    font-size: 14px;
}

.separator::before,
.separator::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid #00bcd9;
}

.separator::before{
    margin-right: 10px;
}

.separator::after{
    margin-left: 10px;
}

.loginLink{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #00bcd9;
}

.loginLink a{
    color: rgb(49, 49, 49);
    text-decoration: underline;
    font-weight: lighter;
}

.loginLink a:hover{
    text-decoration: underline;
}

.formRegister button[type="submit"]{
    margin-top: 20px;
    width: 100%;
}

.notificationContainer{
    position:absolute;
    top:50px
}

.mantine-Notification-root{
    width: 300px;
    text-align: center;
}