* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body,
html {
  height: 100%;
  width: 100%;
}

.divSuppliers {
  background-color: #f5c858;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

.suppliersHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: relative;
}

.suppliersTitle {
  color: #eee;
  font-size: 30px;
  margin: 0 auto;;
}

.suppliersContainer{
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.suppliersListTitles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  padding: 15px 30px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.3);
  color: #00bcd9;
}

.suppliersList {
  width: 100%;
  box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.3);
  border-radius: 0 0 15px 15px;
  background-color: white;
}

.supplierCard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px 30px;
  border-top: 1px solid #eee;
  color: #00bcd9;
}

.supplierCard p {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 0.9rem;
}

.supplierCard p:nth-child(1),
.suppliersListTitles h3:nth-child(1) {
  text-align: left;
  min-width: 150px;
}

.drawerLink {
  position: relative;
  display: inline-block;
  padding: 10px 8px;
  font-size: 1.1rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to right, #eee, #eee);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  transition: background-size 0.4s ease, color 0.3s ease;
}

.drawerLink:hover {
  background-size: 100% 100%;
  color: #00bcd9;
}

.supplierActionButton{
  padding: 0 7px;
  margin: 0 5px;
  border: 2px solid #00bcd9;
  border-radius: 5px;
  color: #00bcd9;
  background-color: white;
  align-items: center;
}

.supplierActionButton:hover{
  color: white;
  background-color: #00bcd9;
  cursor: pointer;
}

.addSupplier{
  color: #eee;
  border: 2px solid #eee;
  background-color: #f5c858;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.addSupplier:hover{
  background-color: #eee;
  color: #f5c858;
  border: 2px solid #f5c858;
}
